<%-include('./partials/header.ejs')%>
    
    <main>
        <% if(event) {%>
            <h1><%= event.title%>
                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                <a href=""><i class="fa-solid fa-trash"></i></a>
            </h1>
            <div class="event-details">
                <div class="col-25">
                    <img src="/images/event-banner.jpg" alt="Event Banner" id="event-banner">
                </div>
                <div class="col-75">

                    <p><strong>Host:</strong> <%= event.host%></p>
                    <p><strong>Date and Time:</strong> <%= event.start%> - <%= event.end%></p>
                    <p><strong>Location:</strong> <%= event.location%></p>
                    <p><strong>Details:</strong> <%= event.details%></p>
                </div>
            </div>
        <% } else { %>
            <h1>No event matches the id.</h1>
            <% } %>
    </main>
<%- include('../partials/footer.ejs')%>
