<%- include('../partials/header.ejs') %>

<main>
  <h2>Welcome, <%= user.firstName %>!</h2>

  <% if (events.length) { %>
    <h3>My Events</h3>
    <table class="events-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% events.forEach(event => { %>
          <tr>
            <td>
              <a href="/events/<%= event._id %>"><%= event.title %></a>
            </td>
            <td>
  <div class="action-buttons">
    <form action="/events/<%= event._id %>/edit" method="GET">
      <button type="submit">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    </form>

    <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
      <button type="submit" onclick="return confirm('Are you sure you want to delete this event?')">
        <i class="fa-solid fa-trash"></i>
      </button>
    </form>
  </div>
</td>

          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p>You have not created any events.</p>
  <% } %>


    <% if (rsvps.length) { %>
      <h3>My RSVPs</h3>
      <table class="events-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Going?</th>
          </tr>
        </thead>
        <tbody>
          <% rsvps.forEach(rsvp => { %>
            <tr>
              <td>
                <a href="/events/<%= rsvp.event._id %>"><%= rsvp.event.title %></a>
              </td>
              <td><%= rsvp.status %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>You haven’t RSVPed to any events yet.</p>
    <% } %>


</main>



<%- include('../partials/footer.ejs') %>
