<%-include('../partials/header.ejs')%>
    <main>
            <h1>
            <%= event.title %>
            </h1>
            
            <!-- RSVP Form -->
            <div class="rsvp-div">
            <form method="POST" action="/events/<%= event._id %>/rsvp">
                Going?
            <button class="yes" type="submit" name="status" value="YES">YES</button>
            <button class="no" type="submit" name="status" value="NO">NO</button>
            <button class="maybe" type="submit" name="status" value="MAYBE">MAYBE</button>
            </form>
            </div>

            <div class="event-details">
                <div class="col-25">
                    <% if (event.banner) { %>
                        <img src="<%= event.banner %>" style="width:100%" alt="Event Banner" id="event-banner" name="image">
                    <% } else { %>
                        <p>No image available</p>
                    <% } %>

                </div>
                <div class="col-75">
                    <p><strong>Host:</strong> <%= event.host.firstName + " " + event.host.lastName %></p>
                    <p><strong>Date and Time:</strong> <%= formattedDateRange %></p>
                    <p><strong>Location:</strong> <%= event.location%></p>
                    <p><strong>Details:</strong> <%= event.details%></p>
                    <p><strong>Number of rsvps: <%= yesCount %></strong></p>
                </div>
            </div>
    </main>
<%-include('../partials/footer.ejs')%>